
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section class="w3l-recent-work-hobbies">
    <div class="recent-work ">
        <div class="container">
            <h3 class="tittle">Bildiriş mesajı</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">
                        <h3>
                            Biletiniz uğurla sifariş edildi
                        </h3>
                        <br />
                        <br />
                        <a asp-controller="Home" asp-action="GetCart" class="btn btn-success">Sifarişlər</a>
                    </div>
                </div>
                <!--//left-->
               
            </div>
        </div>
    </div>

</section>

<partial name="~/Views/Partials/FooterPartial.cshtml" />


