<section class="w3l-footers-20">
    <div class="footers20 ">
        <div class="below-section">
            <div class="container">
                <div class="columns copy-right text-center ">
                    <p>
                        © @DateTime.Now.Year Bütün hüquqlar qorunur | WebSale.com
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
