<section class="w3l-footers-20">
    <div class="footers20 ">
        <div class="container">
            <div class="sub-columns row">
                <div class="sub-one-left sub-two-right col-lg-5 col-md-5">
                    <h2><a href="index.html" class="">Xatırlatma</a></h2>

                    <p>
                        Adipisicing elit. Lauda ntium, archi tecto iure Lorem incidunt iosam qui quo moll itia veniam recus andae
                        archi tecto earum suscipit exce pturi dicta nemo quam.
                    </p>

                </div>
                <div class="sub-two-right col-lg-3 col-md-3 col-sm-6">
                    <h6 class="">Səhİfələr</h6>
                    <div class="footer-footer-ul">
                        <ul>
                            <li class="">
                                <a asp-controller="Home" asp-action="Index" class="">
                                    <span class="fa fa-angle-right"
                                          aria-hidden="true"></span>Ana Səhifə
                                </a>
                            </li>
                            <li class="">
                                <a asp-controller="About" asp-action="Index" class="">
                                    <span class="fa fa-angle-right"
                                          aria-hidden="true"></span>Haqqımızda
                                </a>
                            </li>
                            <li class="">
                                <a asp-controller="Login" asp-action="SignIn" class="">
                                    <span class="fa fa-angle-right"
                                          aria-hidden="true"></span>Daxil ol
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub-two-right col-lg-4 col-md-4 col-sm-6">
                    <h6 class="">Əlaqə vasİtələrİmİz</h6>
                    <div class="column2">
                        <div class="href1">
                            <span>E-mail:</span><a href="mailto:websale@gmail.com">websale@gmail.com</a>
                        </div>
                        <div class="href2">
                            <span>Telefon:</span><a>+(994)-055 241 51 84</a>
                        </div>
                        <div>
                            <p class="contact-para">
                                Address:
                                Bakı şəhəri,
                                Azərbaycan
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="below-section">
            <div class="container">
                <div class="columns copy-right text-center ">
                    <p>
                        © @DateTime.Now.Year Bütün hüquqlar qorunur | WebSale.com
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
