<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WebSale.com</title>
    <link rel="stylesheet" href="~/WebSale/assets/css/style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/WebSale//assets/images/world.png">
</head>