@{
    Layout = null;
}


<!DOCTYPE HTML>
<html lang="en">

<partial name="~/Views/Partials/HeaderPartial.cshtml" />

<body id="home">

    <partial name="~/Views/Partials/TopBarPartial.cshtml" />
    <partial name="~/Views/Partials/NavBarPartial.cshtml" />

    @RenderBody()

    <partial name="~/Views/Partials/FooterPartial.cshtml" />

    <partial name="~/Views/Partials/ScriptPartial.cshtml" />


</body>

</html>