@model DTO.DTOEntity.UserDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Daxil ol</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/Login/css/style.css" type="text/css" media="all" />

</head>

<body>
    <div class="signinform">
        <h1>Daxil ol</h1>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h2>Formu doldurun</h2>
                    <form method="post">
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input type="text" asp-for="UserName" placeholder="İstifadəçi adı">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="Password" asp-for="Password" placeholder="Şifrə" required="">
                        </div>
                        <button asp-controller="Login" asp-action="SignIn" class="btn btn-primary btn-block" type="submit">Daxil ol</button>
                    </form>
                    <!--Message-->
                    <partial name="~/Views/Shared/Message.cshtml" />
                    <p class="account">
                        Hesabınız yoxdursa
                        <a asp-controller="Login" asp-action="SignUp">Qeydiyyat ol</a>
                    </p>
                </div>
            </div>
            <!-- //main content -->
        </div>
    </div>

    <!-- fontawesome v5-->
    <script src="~/Login/js/fontawesome.js"></script>

</body>

</html>
